<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Project 2</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{{ url_for('static', filename='css/light-bootstrap-dashboard.css') }}" rel="stylesheet"/>




    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/pe-icon-7-stroke.css') }}" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" >


    	<div class="sidebar-wrapper">
            <div class="logo">
                <h3 class="title">Risky Viz-ness</h3>

            </div>

            <ul class="nav">

                <li class="active">
                    <a href="home.html">
                        <i class="pe-7s-home"></i>
                        <p>Home</p>
                    </a>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="pe-7s-box2"></i>
                            Delivery
                            <b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">FedEx</a></li>
                            <li><a href="#">UPS</a></li>
                            <li><a href="#">DHL</a></li>

                        </ul>
                <li>
                <li>

                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="pe-7s-shopbag"></i>
                            Retail
                            <b class="caret"></b>


                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Amazon</a></li>
                    <li><a href="#">Wal-Mart</a></li>
                    <li><a href="#">CVS</a></li>
                  </ul>


                </li>
                <li>

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="pe-7s-bandaid"></i>
                            Medical
                            <b class="caret"></b>


                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Cardinal Health</a></li>
                    <li><a href="#">Johnson & Johnson</a></li>
                    <li><a href="#">3M</a></li>
                  </ul>


                </li>
                <li>


                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="pe-7s-id"></i>
                            Medical Services
                            <b class="caret"></b>


                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Community Health Systems</a></li>
                    <li><a href="#">Teladoc Health</a></li>
                    <li><a href="#">MEDD Medical Imaging Corp</a></li>

                  </ul>

                </li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">



        <div class="content">
            <div class="container-fluid">
                <div class="row">


                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Overall Stock Market Performance vs. COVID</h4>
                                <h6>For zoom, move mouse wheel(desktop) or pinch(mobile) over chart area.</h6>
                                <h6>When is zoomed, navigate with dragging it.</h6>

                            </div>
                            <div class="content">
                                <div id="chartHours" class="ct-chart"></div>

 
                            </div>
                        </div>


                        <div class="col-md-3">

                            <div class="card" style="width: 18rem;">
                                <img src="https://freedesignfile.com/upload/2018/10/Smiling-young-delivery-guy-Stock-Photo-04.jpg" class="card-img-top" alt="..." style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Delivery</h5>
                                  <p class="card-text">Short blurb about DELIVERY industry's overall performance, trend in dashboard.</p>
                                  <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="card" style="width: 18rem;">
                                <img src="https://media.sciencephoto.com/image/f0054045/800wm" class="card-img-top" alt="..." style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Retail</h5>
                                  <p class="card-text">Short blurb about RETAIL industry's overall performance, trend in dashboard.</p>
                                  <a href="retail.html" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="card" style="width: 18rem;">
                                <img src="https://www.mdsupplies.com/sup/images/medical-supply-store.jpg" class="card-img-top" alt="..." style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Medical</h5>
                                  <p class="card-text">Short blurb about MEDICAL industry's overall performance, trend in dashboard.</p>
                                  <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="card" style="width: 18rem;">
                                <img src="https://hhp-blog.s3.amazonaws.com/2017/08/iStock-812760206.jpg" class="card-img-top" alt="..." style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Medical Services</h5>
                                  <p class="card-text">Short blurb about MEDICAL SERVICES industry's overall performance, trend in dashboard.</p>
                                  <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>

                        </div>



                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>

                <div class="row">

                </div>


            </div>
        </div>



    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{{ url_for('static', filename='js/jquery.3.2.1.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="{{ url_for('static', filename='js/chartist.min.js') }}"></script>

    <!--  Notifications Plugin    -->
    <script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>



    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="{{ url_for('static', filename='js/light-bootstrap-dashboard.js') }}"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="{{ url_for('static', filename='billboard.min.js') }}"></script>





	<link rel="stylesheet" href="{{ url_for('static', filename='billboard.min.css') }}">
	<script>
	var covid_data = {{ covid_data | safe }};
	var cases = covid_data[0];

	var stock_data = {{ stock_data | safe }};
	var ticker = "FDX";
	var ticker_data = stock_data[ticker]
	var dates = stock_data['date']


	var chart = bb.generate({
	  bindto: "#chartHours",
	  data: {
	      x: "date",
	      columns: [
	          dates,
	          ticker_data,
	          cases
	      ],

	      types: {
	        FDX: "area-line-range",
	        "No. of New Cases": "area-spline"
	      },

	      colors: {
	        FDX: "red",
	        "No. of New Cases": "green"
	      },

	      axes: {
	        FDX: "y",
	        "No. of New Cases": "y2"
	      }
	  },

	  axis: {
	    x: {
	      type: "timeseries",
	      tick: {
	        count: 4,
	        format: "%Y-%m-%d"
	      }
	    },

	    y2: {
	      show: true
	    }
	  },

	  zoom: {
	      enabled: true
	  }

	});

	</script>

	<script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'pe-7s-flag',
            	message: "<b>Welcome to Risky Viz-ness' project 2</b> - Use this dashboard to review and compare stock data from the Delivery, Retail, Medical, and Medical Services industries that are performing well during COVID-19"

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script>

</html>
